pyautogui
psutil
openai
langchain
langchain_community
mss
pytesseract
numpy
opencv-python
SpeechRecognition
pyttsx3
PyYAML
pillow
python-dotenv
pygetwindow; platform_system != "Windows"
pywinauto; platform_system == "Windows"
pywin32; platform_system == "Windows"
pyobjc-framework-Cocoa; platform_system == "Darwin"
